@import "../../scss/variables";
@import "../../scss/mixins";

.footer {
  @include flex-column(flex-start, center);
  width: 100%;
  background-color: $light-gray;
  margin-top: 140px;

  &__wrapper {
    @include flex-row(center, center);
    width: $desktop;
  }

  &__nav {
    width: 100%;
  }

  &__list {
    @include list-reset;
    @include flex-row(space-between, center);
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__item {
    padding-left: 10px;
    padding-right: 10px;

    a {
      @include text-semibold-16;
      color: $dark;
    }
  }
}
